@import './partials/global';


.episode-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background: $light-background-color;
    padding: 1em;

    img {
        width: 40%;

    }

    .description,
    .episode {
        background: #ffffff;
        width: 77%;
        margin: 1em auto;
        border: 1px solid $light-card-border;
        border-radius: 10px;
    }

    .episode {
        display: flex;
        text-align: center;
        margin: auto auto 1em auto;

        img {
            border-radius: 10px 0 0 10px;
        }

        div {
            margin: auto;
            font-family: $jedy-font;

            h2 {
                color: $light-navbar-font;
                width: 100%;
                font-size: 2em;
            }

            h3 {
                font-size: 1.3em;
                color: $light-font-color;
            }

            flex-flow: column;

        }

    }

    .description {
        background: #ffffff;
        width: 75%;
        padding: 1em;

        .det {
            margin: 0 0 0.5em 0;

            font-family: $main-font;
            color: $light-font-color;

            span {
                color: $light-navbar-font;

            }

        }
    }

    @import "./partials/characters.scss";



  
}

@media screen and (max-width: 600px) {
    .episode-container {
        .episode {
            flex-flow: column;

            img {
                width: 100%;
            }
        }

        .characters {
            grid-template-columns: repeat(1, 1fr);
            width: 100%;

            .character {
                .mini-card {
                    width: 80%;
                }
            }
        }
        .load-more{
            width: 60%;
            padding: 0.3em;
        }
    }

}