@import './partials/global';

.main-bg {
    width: 100%;
    height: 100vh;
    background: $light-background-color;
    display: flex;
    flex-flow: column;





    .container {
        background: #333333;
        margin: auto;
        height: fit-content;
        padding: 1em;
        width: 30%;

        .logo {
            text-align: center;
            font-family: $logo-font, sans-serif;
            color: $logo-color;
            font-size: 4em;

        }

        .err {
            transition: all 0.5s;
            color: $error-color;
            margin: 0em 3em 1em;
        }

        form {
            display: flex;
            flex-flow: column;
            width: 90%;
            margin: auto;
            background-color: $light-card-background;
            border-radius: 7px;
            border: 1px solid $light-card-border;
            padding: 1em;


            .input-field {
                margin: 1em;
                background: $light-input-background;
                border: 1px solid $light-input-border;
                border-radius: 2px;
                padding: 0.2em;
                height: 2em;


            }

            .btn {
                width: 35%;
                align-self: flex-end;
                background: $light-btn-background;
                border: 1px solid $light-btn-border;
                color: $light-btn-font;
                font-family: $logo-font;
                font-size: 1em;
                font-weight: bold;
                padding: 1em 1em;
                margin: 0 1em 0 0;
                border-radius: 10px;
                letter-spacing: 2px;



            }
        }
    }
}

@media (max-width: 800px) {
    .main-bg {
        .container {
            width: 90%;
                form {
                    .btn {
                        font-size: 1.5em;
                        padding: 0.5em 0;
                    }

                    .input-field {
                        height: 3em;
                    }

                    .logo {
                        font-size: 5em;
                    }
                }
            }
        }
    }